.container {
    background-color: rgba(103, 108, 118, 0.8);
    width: 160px;
    height: 220px;
    margin: 20px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 15px 15px black;

    &:hover {
        box-shadow: 0 20px 20px #e03421;
        transform: scale(1.1);
    }
}

.container h3 {
    line-height: normal;
    font-weight: 500;
    margin: 5px 0px;

}

.container img {
    width: 150px;
    height: 150px;
    margin: 0px;
    padding: 0px;

}


.types {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;

}

.types p {
    margin: 0px;
    padding: 0px;
}