.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-image: url("../../assets/img/fondogrisgrande.jpg");
    /* background-size: cover; */
    background-position: center;
    background-repeat: repeat;
}

.container img {
    width: 400px;
    height: 400px;
    margin-top: 30px;
    align-self: center;
}

.container div {
    margin-top: 30px;
    background-image: url("../../assets/img/fondoInvertido.jpg");
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 550px 650px;
    width: 350px;
    height: 400px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 15px 15px black;

}

.container p {
    margin: 4px;
}

.container h4 {
    margin: 6px;
}