.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: auto;
    height: 500px;
    background-image: url("../../assets/img/fondofiltro.jpg");
    background-repeat: repeat;
}

.container img {
    width: 400px;
    height: 400px;
    margin-top: 40px;

    &:hover {
        transform: scale(1.2);

    }
}


.container div {
    margin-top: 40px;
    background-image: url("../../assets/img/fondoInvertido.jpg");
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 550px 650px;
    width: 350px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 15px 15px black;

}

.container p {
    margin: 4px;
    padding-left: 120px;
    text-align: left;
}

.container h4,
.container h2 {
    margin: 6px 4px;
    padding-left: 120px;
    text-align: left;
}